{% extends "_shared/templates/welcome.html" %}

{% block content %}
  <div class="wrapper">

  </div>

  <section id="ongoing_call">
    <div class="calling_element">
      <div class="video">
        <video id="remote_video" autoplay></video>
        <video id="local_video" autoplay muted></video>
      </div>
      <div class="buttons_ongoing">
        <a class="mute">
          <i class="mdi mdi-microphone-off"></i>
        </a>
        <a class="camera">
          <i class="mdi mdi-video"></i>
        </a>
        <a class="hangup" onclick="javascript:window.app.endCallStatic()">
          <i class="mdi mdi-phone-hangup"></i>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
