// Foundation Core
@import "./modules.scss";

// Utility
@import "./utility.scss";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
  font-family: 'Niramit', sans-serif;
  background-color: #ececec;
}

.wrapper{
  h1, h2, h3{
    color: rebeccapurple;
  }
}

#hero{
  width: 100%;
  position: relative;
  height: 300px;

  ul{
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 300px;

    li{
      display: grid;
      grid-template-columns: 50px auto;
      column-gap: 10px;
      align-items: center;
      font-weight: bold;
      display: none;

      &.active{
        display: grid;
      }

      img{
        width: 50px;
      }
    }
  }

  h1{
    position: absolute;
    top: 50%;
    z-index: 2;
    padding: 5px 15px;
    background-color: rgba(218, 218, 218, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
  }
}

#menu{
  position: relative;
  z-index: 2;
  padding: 60px;
  font-size: rem-calc(22);
  top: -100px;

  p{
    margin-bottom: 60px;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      background-color: rgb(255, 187, 0);
      border-radius: 50%;
      margin-right: 40px;
      transition: all .2s;
      position: relative;

      &:last-child{
        background-color: hotpink;
      }

      img{
        width: 150px;
      }

      &:hover{
        transform: scale(1.1);
      }

      .label{
        position: absolute;
        bottom: -40px;
        left: calc(50% - 25px);
      }
    }
  }
}

#call_prompt{
  width: 100%;
  padding: 20px;

  .call_cta{
    color: white;
    display: grid;
    grid-template-columns: auto 50px;
    column-gap: 20px;
    width: 240px;
    background-color: hotpink;
    align-items: center;
    padding: 10px 40px;
    border-radius: 5px;
    transition: all .2s;

    span.label{
      font-weight: bold;
      justify-self: center;
    }

    &.ryan{
      color: #5f5f5f;
      background-color: rgb(255, 187, 0);
    }

    &:hover{
      transform: scale(1.1);
    }
  }
}
